<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicons glyphicon glyphicons-eye-open"></span>
              <span class="glyphicons glyphicons-sun"></span> -->
              <!-- <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Personality Insights
          </a> -->
  
          <!-- <ul class="nav navbar-nav">
              <li><a href="http://localhost:3000/api/houses">Houses</a></li>
              <li><a href="http://localhost:3000/api/religions">Religions</a></li>
              <li><a href="http://localhost:3000/api/people">People</a></li>
          </ul> -->
      <!-- </div>
  
  </div>
  </nav> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tahir Raza</a>
    </div>      
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"> SignUp</i></a></li>
        <li><a href="#"><i class="fa fa-user" aria-hidden="true"> SignIn</i></a></li>
      </ul>
    </div>  
  </div>  <!-- container -->
</nav>