<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="logo" src="/img/logo.png" alt="theBLOG">
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>