<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="menu"><i class="fa fa-bars" id="menu_icon"></i></a>
      <a class="navbar-brand" href="/api">TahirRaza</a>
    </div><!--navbar-header close-->

    <div class="collapse navbar-collapse drop_menu" id="content_details">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li> -->
        <li><a href="#"><span class="glyphicon glyphicon-font"></span> About</a></li>
        <li><a href="#" data-toggle="modal" data-target="#contact-modal"><span class="glyphicon glyphicon-phone" ></span> Contact</a></li>
      </ul><!--nav navbar-nav close-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#signup-modal"><span class="fa fa-user-plus"></span> Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul><!--navbar-right close-->
      
    </div><!--collapse navbar-collapse drop_menu close-->
  </div><!--container-fluid close-->
</nav><!--navbar navbar-inverse close-->
<hr>
<% include ./contact %>
<% include ./login %>
<% include ./signUp %>


          
		



