<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="log-section">
        <h1>sign up for new Account</h1><br>
        <form action="signup" method="POST">
          <input type="text" name="name" placeholder="First Name" autofocus="autofocus">
          <input type="text" name="name" placeholder="Last Name">
          <input type="text" name="username" placeholder="User Name">
          <input type="url" name="avatar_url" placeholder="Avatar URL">
          <input type="email" name="email" placeholder="email">
          <input type="password" name="pass" placeholder="Create Password">
          <input type="password" name="pass" placeholder="confiram Password">
          <input type="submit" name="signin" class="login loginmodal-submit" value="Sign Up">
        </form>
        <div class="login-help">
          <a href="#">Allready Have an Account</a>
        </div>
      </div>
    </div>
  </div>
        