 body {
  padding-bottom:20px;
  background:#5a5757;
  color:#666;
}

.container-main{
	margin-top: 20px; 
	background:#f4f4f4;
	padding: 10px;
	/* overflow:auto; */
	border-radius:10px;
}

.logo{
	padding: 15px 0;
}
