<html lang="en">

  <head>
      <% include ../partials/linkFiles %>
  </head>

  <body>
    <div class="container container-main">
      <header>
        <% include ../partials/logo %>
      </header>
      <main>
        <% include ../partials/navbar %>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <% for(let i = obj.list_of_articles.length-1;i >= 0; i--) { %>
                <div class="col-md-4 size">
                  <div class="well blog-post">
                    <!-- <h3><a href="#">Blog Post About <%=obj.list_of_articles[i].belongs_to %> </a></h3> -->
                    <p class="post-info"><i class="glyphicon glyphicon-user"></i>  Posted by <%=obj.list_of_articles[i].created_by %></p>
                    <!-- <hr>
                    <img src="/img/blog1.jpg" class="img-responsive">
                    <hr> -->
                    <p><%= obj.list_of_articles[i].belongs_to %></p>
                    <a class="btn btn-primary" href="articles/<%= obj.list_of_articles[i]._id %>">Read More <span class="glyphicon glyphicon-chevron-right"></a>
                  </div>
                </div>
              <% } %>
            </div>
          </div>  <!-- class col-md-8 -->
          <div class="col-md-4">
            <div class="well">
              <% include ../partials/search %>
            </div>
            <div class="well">
              <h4>Categories</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                  </ul>
                </div>
                  <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="well">
              <h4>Sidebar Widget</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
          </div>  
        </div>  <!-- class roow -->
      </main>
      <footer>
        <% include ../partials/footer %>
      </footer>
      
    </div>
    <!-- container container-main -->
    <% include ../partials/scriptFiles %>
  </body>
</html>