
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/linkFiles.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/logo %>
    </header>
    <div class="container container-main">
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Contact Us</h2>
            <form  method="POST">
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Email address</label>
                <input name="email" type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Message</label>
                <textarea name="message" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
              <button class="pull-right" type="reset" value="Reset" name="reset" class="btn">Reset <span class="glyphicon glyphicon-refresh"></span></button>

            </form>
            <br>
            <iframe width="1100" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJp5y1hMexe0gRCqvTgW4z7_8&key=AIzaSyCzYEcaUBvb5_Vf8eZoahUpPflng2SwvWk" allowfullscreen></iframe>       
          </div>
        </div>      
      </div>
    </div>
  </body>
</html>
