<h4>Users</h4>
<div class="row">
  <ul class="list-unstyled">
    <% for(let i = 0;i < obj['users'].length; i++) { %>
      <div class="col-md-6">
        <li><a href="api/users/<%= obj['users'][i]._id %>"><%= obj['users'][i].username %></a></li>
      </div>
    <% } %>
  </ul>                
</div>