<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/indexHead %>
    <title>Document</title>
  </head>
  <body>
    <div class="container container-main">
      <header>
        <% include ../partials/logo %>
      </header>
      <main>

        <% include ../partials/navbar %>
        <div class="row">
          <div class="col-md-8 well">

        </div>  <!--  class="col-md-8" -->
          <div class="col-md-4">
            <div class="well">
              <% include ../partials/search %>
            </div>
            <div class="well">
              <h4>Topics</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>  <!--  class="col-md-4" -->
        </div>  <!--  class="row" -->

      </main>
      <footer>
        <% include ../partials/footer %>
      </footer>
    </div>  <!--  class="container container-main"  -->
  </body>
</html>