<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/linkFiles %>
  <title>userInfo</title>
</head>
<body>
  <div class="container">
    <div class="container-main">
      <header>
        <% include ../partials/logo %>
      </header>
      <main>
        <% include ../partials/navbar %>
        <div class ="user-row">
          <div class="user-pic-base">
            <img src=<%= user.avatar_url || "/img/user-default.jpeg"  %> width="150px"height ="150px" id="profile-pic" alt="">
            <div class="icon-base">
              <i class="fa fa-pencil fa-2x" id="edit"></i>
            </div>
          </div>
          <div class="content-base">
            <h1 id="name"><%= user.name %></h1>
            <h2 id="user-name"><%= user.username %></h2>
            <p id="content"> Joined Since: <%= moment(new Date(user.created_at), "YYYYMMDD").fromNow() %></p>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="well">
                listed articles
              </div>
            </div>
            <div class="col-lg-4">
              <div class="well">
                listed topics
              </div>
            </div>

          </div>         
          
        </div>     
      </main>
      <footer>       
        <div class="row">
          <div class="col-lg-6">
            <% include ../partials/footer %>
          </div>
        </div>
      </footer>
    </div>  <!-- class="container-main" -->    
  </div>    <!--  class="container"  -->
</body>
</html>